@font-face {
 font-family: PTMono-Regular;
  src: url("assets/fonts/PTMono-Regular.ttf");
}
html {
  scroll-behavior: smooth; 
}

*{
    font-family: PTMono-Regular;
    box-sizing: border-box;
    color: black;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0; 
  padding: 0;

}
.container_2 {
  max-width: 700px; 
  margin-left: 35px;
  }
.nav-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    background-color: beige;
 
}
.nav-item {
    display: flex;
    padding: 0 10px;
    line-height: 80px;
    
}
.container_1{
  width: 400px;
  border-right: black dotted 1px;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
  justify-content: space-between;
}
li{
  list-style-type: none;
  list-style-position: inside;
}
.contact-list{
  width: 400px;
}
span{
  display:inline-block
}
.main-container {
  max-width: 1440px;
  margin: 0 auto;
  max-width: 1230px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.section {
  width: 50%;
}
@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}
code{
  display: block;
  margin: 0;
  padding: 0;
  border: 2px dotted rgb(204, 0, 255);
}
.footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: beige;
}

.contact-highlights {
    color:rgb(204, 0, 255);

}

img{
  border-radius: 50%
}
.about-me,
.education-list{
  width: 700px;
}
container-footer{
  display: flex;
  flex-direction: row;
  align-items: center;
}